<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title> FILTROS </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-item>
              <ion-label>
                Gênero
              </ion-label>
              <ion-select>
                <ion-select-option>Feminino</ion-select-option>
                <ion-select-option>Masculino</ion-select-option>
                <ion-select-option>Unissex</ion-select-option>
              </ion-select>
            </ion-item>
        <ion-item>
          <ion-label>
            Modelo
          </ion-label>
          <ion-select>
            <ion-select-option>Camisa</ion-select-option>
            <ion-select-option>Camiseta</ion-select-option>
            <ion-select-option>Regata</ion-select-option>
            <ion-select-option>Calça</ion-select-option>
            <ion-select-option>Casaco</ion-select-option>
            <ion-select-option>Calçados</ion-select-option>
            <ion-select-option>Acessórios</ion-select-option>
            <ion-select-option>Outros</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            Marcas
          </ion-label>
          <ion-select>
            <ion-select-option>Nike</ion-select-option>
            <ion-select-option>Adidas</ion-select-option>
            <ion-select-option>Lacoste</ion-select-option>
            <ion-select-option>Calvin Klein</ion-select-option>
            <ion-select-option>Zara</ion-select-option>
            <ion-select-option>Forever 21</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            Preço
          </ion-label>
          <ion-select>
            <ion-select-option>Abaixo de R$50,00</ion-select-option>
            <ion-select-option>Entre R$50,00 e R$100,00</ion-select-option>
            <ion-select-option>Entre R$100,00 e R$250,00</ion-select-option>
            <ion-select-option>Entre R$100,00 e R$250,00</ion-select-option>
            <ion-select-option>Entre R$250,00 e R$500,00</ion-select-option>
            <ion-select-option>Acima de R$500,00</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="tertiary" fill="outline" (click)="dismiss()">Close</ion-button>
</div>