<ion-header class="header">

  <ion-buttons slot="start">
    <ion-menu-button>
      <ion-icon class="icon" name="list"></ion-icon>
    </ion-menu-button>

    <img class="menu" src="../../assets/img/logo13.png">

    <ion-button slot="end">
      <ion-icon name="cart" class="icon2"></ion-icon>
    </ion-button>
    <ion-button slot="end">
        <ion-icon name="search" class="icon2"></ion-icon>
      </ion-button>
  </ion-buttons>

</ion-header>


<ion-content>
  
    <ion-card>
      <ion-card-header class="text">
        <ion-card-title>PARA VOCÊ LOJISTA TEMOS AS MELHORES OFERTAS!</ion-card-title>
      </ion-card-header>
      <ion-slides pager="true" autoplay="true" [options]="slideOpts">
        <ion-slide>
          <ion-img width="100%" src="../../assets/img/img4.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="../../assets/img/img5.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="../../assets/img/img6.jpg"></ion-img>

        </ion-slide>
        <ion-slide>
          <ion-img src="../../assets/img/img7.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="../../assets/img/img8.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
          <ion-img src="../../assets/img/img9.jpg"></ion-img>
        </ion-slide>

      </ion-slides>
    </ion-card>

    <p></p>

    <ion-card>
      <ion-card-header class="text">
        <ion-card-title>10 TÊNIS NIKE E OAKLEY</ion-card-title>
        <p>R$999,90</p>
        <div style="text-align: center">
        <a href="https://www.nike.com.br/">
          <ion-button  color="dark">VISUALIZAR</ion-button>
        </a>
      </div>
      </ion-card-header>

    </ion-card>

    <p></p>

    <ion-card>
      <ion-card-header class="text">
        <ion-card-title>20 CAMISAS OAKLEY</ion-card-title>
       <p>R$580,00</p>
        <div style="text-align:center">
        <a href="https://www.zara.com/br/">
          
          <ion-button  color="dark">VISUALIZAR</ion-button>
        
        </a>
        </div>
      
      </ion-card-header>

    </ion-card>

    <p></p>

    <ion-card>
      <ion-card-header class="text">
        <ion-card-title>10 CAMISAS NIKE</ion-card-title>
        <p>R$850,00</p>
        <div style="text-align:center">
        <a href="https://www.picodi.com/br/?kid=559375&gclid=Cj0KCQjwrdjnBRDXARIsAEcE5Yl1bpFah_cnGpAjw6QM4Oh7S8V9SxkdF19Kc6Q7z-cQvPqUF2LgsI8aAvC3EALw_wcB">
          <ion-button  color="dark">VISUALIZAR</ion-button>
        </a>
      </div>
      </ion-card-header>
    </ion-card>

    <p></p>

    <ion-card>
        <ion-card-header class="text">
          <ion-card-title>6 MOLETONS OAKLEY</ion-card-title>
          <p>R$750,00</p>
          <div style="text-align:center">
          <a href="https://www.picodi.com/br/?kid=559375&gclid=Cj0KCQjwrdjnBRDXARIsAEcE5Yl1bpFah_cnGpAjw6QM4Oh7S8V9SxkdF19Kc6Q7z-cQvPqUF2LgsI8aAvC3EALw_wcB">
            <ion-button  color="dark">VISUALIZAR</ion-button>
          </a>
        </div>
        </ion-card-header>
  
      </ion-card>

      <p></p>

      <ion-card>
          <ion-card-header class="text">
            <ion-card-title> 10 CONJUNTOS ADIDAS</ion-card-title>
            <p>R$1280,00</p>
            <div style="text-align:center">
            <a href="https://www.picodi.com/br/?kid=559375&gclid=Cj0KCQjwrdjnBRDXARIsAEcE5Yl1bpFah_cnGpAjw6QM4Oh7S8V9SxkdF19Kc6Q7z-cQvPqUF2LgsI8aAvC3EALw_wcB">
              <ion-button  color="dark">VISUALIZAR</ion-button>
            </a>
          </div>
          </ion-card-header>
    
        </ion-card>

        <p></p>

        <ion-card>
            <ion-card-header class="text">
              <ion-card-title>8 CAMISAS POLO LACOSTE</ion-card-title>
              <p>R$850,00</p>
              <div style="text-align:center">
              <a href="https://www.picodi.com/br/?kid=559375&gclid=Cj0KCQjwrdjnBRDXARIsAEcE5Yl1bpFah_cnGpAjw6QM4Oh7S8V9SxkdF19Kc6Q7z-cQvPqUF2LgsI8aAvC3EALw_wcB">
                <ion-button  color="dark">VISUALIZAR</ion-button>
              </a>
            </div>
            </ion-card-header>
      
          </ion-card>


</ion-content>