<ion-app>
  <ion-split-pane>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<ion-menu side="start" menuId="custom" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <!-- <ion-img src="../../assets/img/logo9.png"></ion-img> 
      <h1 class="testeFont2"> Menu </h1> -->

      <ion-button slot="end" shape="round" color="primary" fill="outline" (click)="testcart()">
        <ion-icon name="ios-cart"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="perfil()" color="primary" fill="outline" shape="round">
        <ion-icon name="ios-contact"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="end" color="tertiary" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>