<ion-header class="header">

    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="icon" name="list"></ion-icon>
      </ion-menu-button>
  
      <img class="menu" src="../../assets/img/logo13.png">
  
      <ion-button slot="end">
        <ion-icon name="cart" class="icon2"></ion-icon>
      </ion-button>
      <ion-button slot="end">
          <ion-icon name="search" class="icon2"></ion-icon>
        </ion-button>
    </ion-buttons>
  
  </ion-header>
  <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
    <ion-list>
      
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input formControlName="nome" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input formControlName="telefone" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Endereço</ion-label>
        <ion-input formControlName="endereco" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>CEP</ion-label>
        <ion-input formControlName="cep" type="text"></ion-input>
      </ion-item>

    </ion-list>
    <ion-button expand="full" (click)="cadastrar()">Cadastrar</ion-button>
  </form>

</ion-content>