.fundo{
    --background: url(..\..\assets\img\fundo01.jpg) 0 0/100% 100% no-repeat;
}
.img{
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
}
.button{
    --background: #000080;
    --color: #fff;
}
.button1{
    --background: #87CEEB;
    --color: #fff;
}
.button2{
    --background: #B22222;
    --color: #fff;
}
.text{
    
}



